/* .request-comp {
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  display: flex;
  margin: 15px;
  justify-content: space-between;
}
.request-comp p {
  margin: 10px;
}
.d-a-button button {
  background-color: white;
  height: 30px;
  width: 60px;
}
.homeowner {
  margin: auto;
}
.homeowner a {
  padding-top: 5px;
}
img {
  display: flex;
  width: 100px;
} */

.main {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  /* display: flex; */
}
.request {
  display: flex;
  border: 1px solid black;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;
  width: 80%;
}
/* p {
  -ms-flex-align: left;
} */
.d-a-button {
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
