.main {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  /* display: flex; */
}
.request {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
  background-color: white;
}

/* request-comp */
/* p {
  -ms-flex-align: left;
} */
.d-a-button {
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
}
img {
  height: 100px;
  width: 150px;
}
button {
  margin-right: 10px;
  padding: 5px;
  /* border: 0; */
  border-radius: 5px;
}

.w3-green {
  background-color: #65ba45;
}
.w3-red {
  background-color: #ef1012;
}
a {
  text-decoration: none;
}
