#top {
  margin-top: 100px;
  margin-bottom: 15px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9b616;
  /* width: 100px;
  height: 40px; */
  padding: 10px;
  border-radius: 5px;
}



.home:hover {
  background-color: #e0a414;
}
.ten:hover {
  background-color: #e0a414;
}
.ten {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9b616;
  /* width: 100px;
  height: 40px; */
  padding: 10px;
  border-radius: 5px;
}
.dash-body {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background: url('../images/bg.png') no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

