.container {
  width: 100vw;
}

/* .inner {
  max-width: 85%;
  margin: 0 auto;
} */

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
