.newlist-container {
  background: url("../images/bg.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* overflow: hidden; */
}

#newlisting {
  background-color: white;
  border-radius: 10px;
  margin-top: 100px;
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#input-block input {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #999;
}

/* .checkboxes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-color: black;
  margin-left: -45px;
} */
/* .submitbutton {
  background-color: #f9b616;
  width: 550px;
  height: 45px;
  border-radius: 10px;

} */

#postname {
  font-size: 24px;
  text-align: center;
}

#listing-submit {
  background-color: #f9b616;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  padding: 13px 20px;
}

#listing-submit:hover {
  background-color: #e0a414;
}
