#result-container {
  padding-top: 60px;
}

#right {
  width: 49%;
  position: absolute;
  left: 51%;
}

#result-location {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  padding: 10px;
  background-color: white;
}

#result-posts {
  margin-top: 60px;
}
